<!-- home.html -->
{% extends "myappp/base.html" %}

{% block title %}Home Page - My Django App{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="jumbotron bg-info text-white text-center"> <!-- Added 'text-center' class -->
        <h1 class="display-4 text-primary">Rewindify</h1>
        <p class="lead text-warning">Sign up Page.</p>
        <hr class="my-4">
        <p class="text-light">ofnI</p>
    </div>
</div>
{% endblock %}
