/* static/css/custom.css */

/* Override Bootstrap classes */
.bg-info {
    background-color: rgba(41, 41, 41, 0.8) !important; /* Dark color with 80% opacity */
    outline: 2px solid #3498db; /* Example outline color */
    outline-offset: 4px; /* Optional: space between outline and element */
    /* OR use border for a similar effect */
    border: 2px solid #3498db;
    border-radius: 5px; /* Optional: adds rounded corners */
}

.text-white {
    color: #404040 !important; /* Slightly off-white */
}

.text-primary {
    color: #3498db !important; /* Custom green */
}

.text-warning {
    color: #ff33cf !important; /* Custom orange */
}

.text-light {
    color: #FFFF00 !important; /* Custom light gray */
}

body {
    background-color: #3d3d3d; /* Light gray background for the entire page */
}

/* static/css/custom.css */
@font-face {
    font-family: 'Cybrpnuk';
    src: url('../css/fonts/LEMONMILK-Bold.otf') format('truetype'); /* Adjust the path based on your setup */
    font-weight: normal;
    font-style: normal;
}

/* static/css/custom.css */

body {
    font-family: 'Cybrpnuk', cursive; /* Apply Cybrpnuk font */
    background-image: url('../images/synthy.jpg'); /* Path to the image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    background-attachment: fixed; /* Keeps the image fixed in place during scroll */
    color: #FFFF00; /* Optional: Color for body text */
}


/* Apply the Cybrpnuk font to the specific <h1> element */
.test-primary {
    font-family: 'Cybrpnuk', cursive; /* Use the Cybrpnuk font */
    color: #00ffcc; /* Optional: Change the color for a cyberpunk effect */
}

.btn-primary {
    background-color: #FFFF00 !important; /* Set background color to yellow */
    border-color: #FFFF00 !important;      /* Set border color to yellow */
    color: #ff33cf !important;                /* Set text color to black for contrast */
}

.btn-secondary {
    background-color: #FFFF00 !important; /* Set background color to yellow */
    border-color: #FFFF00 !important;      /* Set border color to yellow */
    color: #3498db !important;                /* Set text color to black for contrast */
}